.home-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.search-wrapper input {
  width: auto;
  flex: 1;
  min-width: 0;
}

.search-wrapper:focus-within {
  border-color: var(--color-primary);
}

.search-wrapper input:focus-visible {
  outline: none;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1.5rem 1rem;
  place-content: center;
}

.home-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-title {
  font-size: 1.2rem;
}

.card-description {
  color: var(--color-text-separator);
}
