:root {
  /* Colors */
  --color-primary: #ce0a86;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #fef0f9;
  --color-light-gray: #bcc1ca;
  --color-error: #ff0000;

  --color-input-bg: #f3f4f6;

  --color-apple-bg-button: #e5e5e5;
  --color-apple-text-button: #000000;
  --color-google-bg-button: #fdf2f2;
  --color-google-text-button: #de3b40;
  --color-facebook-bg-button: #f1f8fd;
  --color-facebook-text-button: #379ae6;

  --color-text-separator: #9095a0;
  --color-text-navbar: #565e6c;

  --color-footer-bg: #1d2128;
  --background-gradient: linear-gradient(90deg, #873aaa 0%, #df007f 100%);

  /* Typography */
  --font-family-base: "Source Sans 3", sans-serif;

  /* Border-radius */
  --radius-sm: 6px;
  --radius-md: 10px;
}
