<nav class="bottom-nav">
  <ul>
    <li class="item">
      <a href="/home">
        <img src="/icons/icon-home.svg" alt="" class="icon" />
        <span class="text">Home</span>
      </a>
    </li>

    <li class="item">
      <a href="/networking">
        <img src="/icons/icon-networking.svg" alt="" class="icon" />
        <span class="text">Networking</span>
      </a>
    </li>

    <li class="item">
      <a href="/job-opportunities">
        <img src="/icons/icon-job-opportunities.svg" alt="" class="icon" />
        <span class="text">Job Portal</span>
      </a>
    </li>

    <li class="item">
      <a href="#">
        <img src="/icons/icon-profile.svg" alt="" class="icon" />
        <span class="text">Profile</span>
      </a>
    </li>
  </ul>
</nav>
