<footer class="footer-desk">
  <form class="footer-form">
    <h2 class="footer-form-title">"No et perdis res, subscriu-te!"</h2>
    <label for="input-email" class="visually-hidden">El teu email</label>
    <div class="email-wrapper">
      <div class="icon-and-placeholder">
        <img src="/icon-mail.svg" alt="" />
        <input type="email" id="input-email" placeholder="El teu email" />
      </div>
      <button class="btn-gradient form-btn">Subscriu-te</button>
    </div>
  </form>

  <div class="logo-and-menu-container">
    <div class="footer-logo">
      <img src="/xlumni-logo.svg" alt="XLumni logo" />
    </div>

    <ul class="footer-menu" aria-label="Menú del footer">
      <li class="footer-menu-item">
        <a href="#" class="footer-menu-link">Sobre nosaltres</a>
      </li>
      <li class="footer-menu-item">
        <a href="#" class="footer-menu-link">Funcionalitats</a>
      </li>
      <li class="footer-menu-item">
        <a href="#" class="footer-menu-link">Centre d'ajuda</a>
      </li>
      <li class="footer-menu-item">
        <a href="#" class="footer-menu-link">Contacta'ns</a>
      </li>
      <li class="footer-menu-item">
        <a href="#" class="footer-menu-link">FAQs</a>
      </li>
      <li class="footer-menu-item">
        <a href="#" class="footer-menu-link">Oportunitats laborals</a>
      </li>
    </ul>
  </div>

  <span class="separator-line"></span>

  <div class="language-and-social-container">
    <div class="language-selector">
      <label for="language-select" class="visually-hidden">Idioma:</label>
      <select id="language-select">
        <option value="/ca/">Català</option>
        <option value="/es/">Español</option>
        <option value="/en/">English</option>
      </select>
    </div>

    <small id="footer-copyright">
      © 2024 Brand, Inc. •
      <a href="#" class="footer-menu-link">Privadesa</a> •
      <a href="#" class="footer-menu-link">Termes d'ús</a> •
      <a href="#" class="footer-menu-link">Mapa del lloc</a>
    </small>

    <div class="footer-social">
      <a href="https://www.facebook.com/" aria-label="Segueix-nos a Facebook"
        ><img src="/logo-facebook.svg" alt="" class="social-logo" />
      </a>

      <a href="https://es.linkedin.com/" aria-label="Segueix-nos a LinkedIn"
        ><img src="/logo-linkedin.svg" alt="" class="social-logo" />
      </a>

      <a href="https://www.youtube.com/" aria-label="Segueix-nos a YouTube"
        ><img src="/logo-youtube.svg" alt="" class="social-logo" />
      </a>
    </div>
  </div>
</footer>
